body {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  padding: 1rem;
}

input {
  display: block;
}

label + input {
  margin-top: 0.5rem;
}

label + progress {
  display: block;
}

video {
  display: block;
  max-width: 25rem;
}
